package routes

import (
	"github.com/go-chi/chi/v5"
	// Handler imports will be added here
)

// RegisterAPIRoutes registers all API v1 routes
func RegisterAPIRoutes(r chi.Router) {
	// Handler registrations will be added here
}